.search-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

input[type="text"] {
    padding: 8px;
}

button {
    padding: 8px 16px;
    cursor: pointer;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 5%;
}

.wrapper {
    max-width: 960px;
    margin: auto;
  }
#slide {
    max-width: 960px;
}

h1 {
    margin: 30px 20px 30px 0;
    font-weight: bold;
    font-size: larger;
}

.container {
    margin: 10px 0 20px 0;
    padding: 20px 20px 100px 0px;
    background-color: white;
    border-bottom: 1px solid gray;
}

.container div {
    display: inline-block;
    margin: 0 15px;
}

.user {
    text-align: center;
}

.container a {
    font-size: 18px;
    color: darkgreen;
    float: right;
    margin: 60px 10px 20px 10px;
}

.button {
    width: 240px;
    margin: 0 20px;
}
.button a {
    margin: 20px;
    color: white;
    background-color: darkgreen;
    text-decoration: none;
    width: 200px;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.button a:hover {
    background-color: cadetblue;
}
