.footer {
  margin-top: 15px;
  padding: 20px 30px;
  background-color: darkgreen;
  color: white;
  border-radius: 2px; 
}

.footer div {
  padding: 10px 100px 5px 0;
}

.social-link {
  display: flex;
}
  
@media screen and (max-width: 768px) {
  .social-link{display: contents;}
}
  