.new-books {
    margin-top: 20px;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
}

.book {
    width: 31.33%; /* Điều chỉnh độ rộng để hiển thị 3 sách trên 1 hàng */
    margin: 1%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book img {
    width: 75%;
    height: auto;
    max-height: 300px;
}

.book-info {
    padding: 10px;
    text-align: center; /* Đặt căn giữa theo chiều ngang cho thông tin tiêu đề và tác giả */
}

.book-info p {
    margin: 0;
    padding: 5px 0;
}

/* Hiệu ứng khi trỏ vào */
.book:hover {
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-nav {
    overflow: hidden;
    background-color: darkgreen; /* Màu xanh lá cây */
    font-weight: bold; /* Phông chữ in đậm */
}

.marquee-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.marquee {
    width: 100%;
    overflow: hidden;
}

.marquee p {
    white-space: nowrap;
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Optional: Add some styling to make it visually appealing */
.marquee-container {
    padding: 10px;
}

.marquee p {
    color: white;
    font-size: 16px;
    margin: 0;
}

.custom-nav {
    padding: 10px;
}
